@media screen and (min-width: 800px) {
  .burger {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 3fr);
  }

  nav {
    display: flex;
    grid-column: 3/4;
    justify-content: flex-end;
    align-items: center;

    ul {
      all: unset;
      list-style: none;
      display: flex;
    }

    li {
      margin-bottom: 0;
      margin-right: 16px;
    }

    a {
      opacity: 1;
    }
  }
}
